### Java / Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/
.vscode/*
!.vscode/extensions.json
out/
bin/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Node ###
node_modules
dist
dist-ssr
*.local

### Logs ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### Playwright ###
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

### Environment ###
.env

### OS ###
.DS_Store
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

### Help ###
HELP.md
